@media (max-width: $widthDesktop) {

  .center {
      padding-left: calc(50% - #{$widthTablet / 2});
      padding-right: calc(50% - #{$widthTablet / 2});
    }
    

  .games-box {
    height: 800px;
    flex-wrap: wrap;

    &__game {
      width: 343px;

      &-name {
        left: 14px;
      }
    }
  }

  .game-1,
  .game-2 {
    justify-content: center;
    gap: 64px;

    &-box {
        width: 400px;
      }
            
    &__pict {
      width: 400px; 
    }
  }

}
